{% extends "base.html" %}

{% block pageTitle %}查看评分{% endblock %}
{% load static %}

  {% block mainbody %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">查看评分</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">主页</a></li>
              <li class="breadcrumb-item active">综评量化管理</li>
              <li class="breadcrumb-item active">查看评分</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4">
            <div class="card card-primary">
              <div class="card-header">
                <h5 class="m-0">个人信息</h5>
              </div>
              <div class="card-body">
                <p class="card-text">
                  您当前的综评量化分<code>{{ request.session.userScoreInfo.dailyReport.totalMonthScore }}</code>分。<br>
                  其中事件分共被奖<code>{{ request.session.userScoreInfo.dailyReport.eventAddScore }}</code>次，被罚<code>{{ request.session.userScoreInfo.dailyReport.eventDelScore }}</code>次，总计共得<code>{{ request.session.userScoreInfo.dailyReport.eventScore }}</code>分。<br>
                  再接再励！<br>
                  <small>*数据为缓存数据，来源截止至昨日。</small>
                  <small>**若部分项目为None，则表明此项目暂无数据。</small>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-info">
              <div class="card-header">
                <h5 class="m-0">上月月报</h5>
              </div>
              <div class="card-body">
                <p class="card-text">
                  您上月共得综评量化分<code>{{ request.session.userScoreInfo.monthReport.totalMonthScore }}</code>分，排名第<code>{{ request.session.userScoreInfo.monthReport.totalMonthRank }}</code>名。<br>
                  其中包含固定分共<code>{{ request.session.userScoreInfo.monthReport.fixedScore }}</code>分，出勤分共<code>{{ request.session.userScoreInfo.monthReport.attendScore }}</code>分。<br>
                  您上月的事件分共被奖<code>{{ request.session.userScoreInfo.monthReport.eventAddScore }}</code>次，被罚<code>{{ request.session.userScoreInfo.monthReport.eventDelScore }}</code>次，总计共得<code>{{ request.session.userScoreInfo.monthReport.eventScore }}</code>分。<br>
                  <hr />
                  截至上月，您的综评量化分共为<code>{{ request.session.userScoreInfo.monthReport.totalScore }}</code>分，排名第<code>{{ request.session.userScoreInfo.monthReport.totalRank }}</code>名。较以往共变化<code>{{ request.session.userScoreInfo.monthReport.totalRankChange }}</code>名。<br>
                  截至上月，您的综评量化年度分为<code>{{ request.session.userScoreInfo.monthReport.yearScore }}</code>分，排名第<code>{{ request.session.userScoreInfo.monthReport.yearRank }}</code>名。较以往共变化<code>{{ request.session.userScoreInfo.monthReport.yearRankChange }}</code>名。<br>
                  <small>**若部分项目为None，则表明此项目暂无数据。</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block otherJavaScript %}
<!-- ChartJS -->
<script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>
<!-- Page specific script -->

{% endblock %}