{% extends "base.html" %}

{% block pageTitle %}综评量化分析{% endblock %}
{% load static %}
{% block otherCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}" />
{% endblock %}

{% block mainbody %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>综评量化分析</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">主页</a></li>
              <li class="breadcrumb-item active">综评量化管理</li>
              <li class="breadcrumb-item active">综评量化分析</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">提交评分请求</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form id="quickForm">
                <div class="card-body">
                  <div class="row">
                    <div class="form-group col-md-1">
                      <label for="workerIdInput">员工工号</label>
                      <input type="text" name="workerId" class="form-control" id="workerIdInput" placeholder="员工工号" AUTOCOMPLETE="off">
                    </div>
                    <div class="form-group col-md-2">
                      <label for="departmentInput">员工部门</label>
                      <input type="text" name="department" class="form-control" id="departmentInput" placeholder="未读取到员工信息" disabled>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="realNameInput">员工姓名</label>
                      <input type="text" name="realName" class="form-control" id="realNameInput" placeholder="未读取到员工信息" disabled>
                    </div>
                    <div class="form-group col-md-7">
                      <label for="scoreChangeInput">查询日期</label>
                      <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%" name="reportDate">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span></span> <i class="fa fa-caret-down"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary" id="submitScore">提交</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">已递交的请求<small>(仅限最后一次更新在7天之内的数据)</small></h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>姓名</th>
                      <th>提交时间</th>
                      <th>变更数目</th>
                      <th>提交原因</th>
                      <th>审核状态</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for submitHis in submitHistory %}
                    <tr>
                      <td>{{ submitHis.id }}</td>
                      <td>{{ submitHis.realName }}</td>
                      <td>{{ submitHis.date }}</td>
                      <td>{{ submitHis.change }}</td>
                      <td>{{ submitHis.reason }}</td>
                      <td>{{ submitHis.status|safe }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block otherJavaScript %}
<!-- ChartJS -->
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
<!-- Page specific script -->
<div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
  <i class="fa fa-calendar"></i>&nbsp;
  <span></span> <i class="fa fa-caret-down"></i>
</div>

<script type="text/javascript">
$(function() {

  var start = moment().subtract(29, 'days');
  var end = moment();

  function cb(start, end) {
      $('#reportrange span').html(start.format('YYYY/MM/DD') + ' - ' + end.format('YYYY/MM/DD'));
  }

  $('#reportrange').daterangepicker({
      locale: {
        format: "YYYY-MM-DD",
        applyLabel: '确定',
        cancelLabel: '取消',
        daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
        monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
          '七月', '八月', '九月', '十月', '十一月', '十二月'
        ],
        firstDay: 7,
        customRangeLabel: '自定义时间',
      },
      startDate: start,
      endDate: end,
      ranges: {
         '今天': [moment(), moment()],
         '昨天': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
         '近7天': [moment().subtract(6, 'days'), moment()],
         '近30天': [moment().subtract(29, 'days'), moment()],
         '本月': [moment().startOf('month'), moment().endOf('month')],
         '上月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
      },
  }, cb);

  cb(start, end);

});
</script>
{% endblock %}
