{% extends "base.html" %}

{% block pageTitle %}提交评分请求{% endblock %}
{% load static %}

  {% block mainbody %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">提交评分请求</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">主页</a></li>
              <li class="breadcrumb-item active">综评量化管理</li>
              <li class="breadcrumb-item active">提交评分请求</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-5">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">提交评分请求</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form id="quickForm">
                <div class="card-body">
                  <div class="row">
                    <div class="form-group col-md-4">
                      <label for="workerIdInput">员工工号</label>
                      <input type="text" name="workerId" class="form-control" id="workerIdInput" placeholder="员工工号" AUTOCOMPLETE="off">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="departmentInput">员工部门</label>
                      <input type="text" name="department" class="form-control" id="departmentInput" placeholder="未读取到员工信息" disabled>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="realNameInput">员工姓名</label>
                      <input type="text" name="realName" class="form-control" id="realNameInput" placeholder="未读取到员工信息" disabled>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-6">
                      <label>评分类型</label>
                      <select class="form-control" name="scoreType" id="scoreTypeSelect">
                        <option value="1">固定分</option>
                        <option value="2">出勤分</option>
                        <option value="3" selected>事件分</option>
                      </select>
                    </div>
                    <div class="form-group col-6">
                      <label for="scoreChangeInput">变更数目<small>(扣分请输入负数)</small></label>
                      <input type="number" name="scoreChange" class="form-control" id="scoreChangeInput" placeholder="分数变更数目">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="changeReasonInput">变更原因<small>(至少需输入2个字)</small></label>
                    <textarea name="changeReason" class="form-control" rows="3" id="changeReasonInput" placeholder="变更原因"></textarea>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="rememberDetailsCheck" name="rememberDetails">
                    <label class="form-check-label" for="rememberDetailsCheck">提交时仅清除员工信息</label>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary" id="submitScore">提交</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">批量提交评分请求</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form id="execlUploadTaS1" method="POST" enctype="multipart/form-data" action="/uploadExcelFile/">
                <div class="card-body">
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" name="fileUpload" class="custom-file-input" id="excelFileUploadTaS1">
                      <label class="custom-file-label" for="customFile">选择需上传文件...(A1栏不可改动)</label>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <input type="submit" value="提交" class="btn btn-primary" />
                  <button type="submit"  id="submitFile">提交</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="card card-info">
              <div class="card-header">
                <h5 class="m-0">本月简报</h5>
              </div>
              <div class="card-body">
                <p class="card-text">
                    您本月已奖分总数：{{ request.session.userScoreManagerInfo.addScore }}<br>
                    您本月已扣分总数：{{ request.session.userScoreManagerInfo.removeScore }}<br>
                    {% if request.session.userScoreManagerInfo.arper < 10.0 %}
                    当前扣/奖比例为：<span style="color:red">{{ request.session.userScoreManagerInfo.arper }}%</span><br>
                    {% else %}
                    当前扣/奖比例为：<span style="color:green">{{ request.session.userScoreManagerInfo.arper }}%</span><br>
                    {% endif %}
                    按照当前规定，若您的本月总奖分少于<code>{{ request.session.userScoreManagerInfo.limitScore }}</code>时，您将会被扣除对应的数额。
                    {% if request.session.userScoreManagerInfo.addScore < request.session.userScoreManagerInfo.limitScore %}
                    您当前还需要奖<code>{{ request.session.userScoreManagerInfo.needAddScore }}</code>分才能突破此限制。</span><br>
                    {% else %}
                    您当前已突破此限制。<br>
                    按照规定，若您的扣/奖比例少于<code>10%</code>时，您将会被扣除对应的数额。
                    {% if request.session.userScoreManagerInfo.arper < 10.0 %}
                    您当前还需要扣<code>{{ request.session.userScoreManagerInfo.lastScore }}</code>分才能突破此限制。</span><br>
                    {% else %}
                    您当前已突破此限制。<br>
                    {% endif %}
                    {% endif %}
                    <small>* 仍需扣分数据可能存在误差，仅供参考<br>** 以上数据仅限于审核通过的条目</small>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">已递交的请求<small>(仅限最后一次更新在7天之内的数据)</small></h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>姓名</th>
                      <th>提交时间</th>
                      <th>类型</th>
                      <th>变更数目</th>
                      <th>提交原因</th>
                      <th>审核状态</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for submitHis in submitHistory %}
                    <tr>
                      <td>{{ submitHis.id }}</td>
                      <td>{{ submitHis.realName }}</td>
                      <td>{{ submitHis.date }}</td>
                      <td>{{ submitHis.type }}</td>
                      <td>{{ submitHis.change }}</td>
                      <td>{{ submitHis.reason }}</td>
                      <td>{{ submitHis.status|safe }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block otherCSS %}
<!-- SweetAlert2 -->
<!-- <link rel="stylesheet" href="{% static 'plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}"> -->
{% endblock %}

{% block otherJavaScript %}
<!-- jquery-validation -->
<script src="{% static 'plugins/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'plugins/jquery-validation/additional-methods.min.js' %}"></script>
<!-- SweetAlert2 -->
<!-- <script src="{% static 'plugins/sweetalert2/sweetalert2.min.js' %}"></script> -->
<!-- bs-custom-file-input -->
<script src="{% static 'plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<!-- Page specific script -->
<script>
  $(function () {
    bsCustomFileInput.init();
    $.validator.setDefaults({
      submitHandler: function () {
        $('#submitScore').addClass('disabled');
        $.ajax({
          // url: '/api/submitScoreRequest/',
          url: '/score/submit/',
          type: 'POST',
          dataType: 'json',
          data: {
            workerId:function(){ return $("#workerIdInput").val();},
            scoreChange:function(){ return $("#scoreChangeInput").val();},
            changeReason:function(){ return $("#changeReasonInput").val();},
            scoreType:function(){ return $("#scoreTypeSelect").val();}
          },
          success: function (e) {
            console.log(e)
            var err =  e.err;
            var message =  e.message;
            if (err == 0) {
              toastr.success('请求提交成功，请等待审核')
              if ($('#rememberDetailsCheck').is(':checked') == false) {
                $('#workerIdInput').val('');
                $('#departmentInput').val('');
                $('#realNameInput').val('');
                $('#scoreChangeInput').val('');
                $('#changeReasonInput').val('');
              } else {
                $('#workerIdInput').val('');
                $('#departmentInput').val('');
                $('#realNameInput').val('');
              }
            } else if (err == 51400005) {
              toastr.error('无法查询到所输入的员工工号对应的数据，请检查输入内容是否正确')
            } else {
              toastr.error('发生未知错误，请打开控制台并联系管理员')
            }
            $('#submitScore').removeClass('disabled');
          },
          error: function (e) {
            toastr.error('请求提交失败，请打开控制台并联系管理员')
            console.log(e)
          }
        })
      }
    });
    $('#quickForm').validate({
      onkeyup: false,
      rules: {
        workerId: {
          required: true,
          remote: {
            url: '/api/memberCheck/',
            type: 'POST',
            dataType: 'json',
            data: {
              workerId:function(){ return $("#workerIdInput").val();}
            },
          },
        },
        scoreChange: {
          required: true,
          number: true,
        },
        changeReason: {
          required: true,
          minlength: 2
        },
      },
      messages: {
        workerId: {
          required: '请输入员工工号',
          remote: '无法读取此员工的信息，请确认工号是否正确输入'
        },
        scoreChange: {
          required: "请输入变更数目",
          number: "请输入有效数字"
        },
        changeReason: {
          required: "请输入变更原因",
          minlength: "原因不得少于2个字"
        },
        rememberDetails: {
          required: false
        },
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      }
    });
    $('#workerIdInput').blur(function() {
      $.ajax({
          url: '/api/memberInfoLoad/',
          type: 'POST',
          dataType: 'json',
          data: {workerId:function(){ return $("#workerIdInput").val();}},
          complete: function (e) {
            console.log(e)
            var err =  e.responseJSON.err;
            var message =  e.responseJSON.message;
            if (err == 0) {
              $('#departmentInput').val(message.department);
              $('#realNameInput').val(message.realName);
            } else {
              $('#departmentInput').val(undefined);
              $('#realNameInput').val('');
            }
          }
      })
    });
    $('#execlUploadTaS1').validate({
      onkeyup: false,
      rules: {
        excelFileUploadTaS1: {
          required: true
        },
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.input-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      }
    });
  });
  </script>
{% endblock %}
